<!-- Menambah data melalui tinker -->

use App\Models\Product;
use App\Models\Color;
use App\Models\Size;
use App\Models\ProductVariant;

$product = Product::create([
    'product_name' => 'Converse All Star Hi Plimsolls',
    'category_id' => 3,
    'slug' => 'converse-all-star-hi-plimsolls',
    'price' => 75.00,
    'description' => 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente dolores quod maxime iusto, alias mollitia cupiditate eum tempora maiores ducimus accusamus omnis repudiandae impedit excepturi accusantium tenetur laborum distinctio porro.',
    'image' => 'product-09.jpg',
]);

$color = Color::create([
    'color_name' => 'Black',
]);

$size = Size::create([
    'size_name' => 'XL',
]);

$product->variants()->create([
    'color_id' => $color->id,
    'size_id' => $size->id,
    'stock' => 20,
]);

Product::all();
Color::all();
Size::all();
ProductVariant::all();

<!-- Menambah Warna dan Ukuran yang baru melalui tinker -->

$product = Product::find(3);

$size = Size::find(2);
$color = Color::find(2);

$product->variants()->create([
    'color_id' => $color->id,
    'size_id' => $size->id,
    'stock' => 45,
]);

$newColor = Color::create(['name' => 'Hijau']);
$newSize = Size::create(['name' => 'XL']);

$product->variants()->create([
    'color_id' => $color->id,
    'size_id' => $size->id,
    'stock' => 25,
]);

<!-- Menambah banyak warna dan ukuran  -->

use App\Models\Product;

$product = Product::create([
    'product_name' => 'Only Check Trouser',
    'slug' => 'only-check-trouser',
    'price' => 25.50,
    'description' => 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente dolores quod maxime iusto, alias mollitia cupiditate eum tempora maiores ducimus accusamus omnis repudiandae impedit excepturi accusantium tenetur laborum distinctio porro.',
    'image' => 'product-03.jpg',
]);

use App\Models\Color;
use App\Models\Size;

$color1 = Color::create(['color_name' => 'Blue']);
$color2 = Color::create(['color_name' => 'Navy']);

<!-- Jika sudah ada ukuran -->
$size1 = Size::find(1);
$size2 = Size::find(3);

<!-- Jika Belum ada ukuran -->
$size1 = Size::create(['size_name' => 'M']);
$size2 = Size::create(['size_name' => 'L']);

$product->variants()->createMany([
    [
        'color_id' => $color1->id,
        'size_id' => $size1->id,
        'stock' => 50,
    ],
    [
        'color_id' => $color1->id,
        'size_id' => $size2->id,
        'stock' => 30,
    ],
    [
        'color_id' => $color2->id,
        'size_id' => $size1->id,
        'stock' => 40,
    ],
    [
        'color_id' => $color2->id,
        'size_id' => $size2->id,
        'stock' => 20,
    ],
]);

Category::create([
    'category_name' => 'Shoes',
    'slug' => 'shoes',
]);