use App\Models\Product;
use App\Models\Color;
use App\Models\Size;
use App\Models\ProductVariant;

$product = Product::create([
    'product_name' => 'Esprit Ruffle Shirt',
    'slug' => 'esprit-ruffle-shirt',
    'price' => 16.64,
    'description' => 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente dolores quod maxime iusto, alias mollitia cupiditate eum tempora maiores ducimus accusamus omnis repudiandae impedit excepturi accusantium tenetur laborum distinctio porro.',
    'image' => 'product-01.jpg',
]);

$color = Color::create([
    'color_name' => 'White',
]);

$size = Size::create([
    'size_name' => 'S',
]);

$product->variants()->create([
    'color_id' => $color->id,
    'size_id' => $size->id,
    'stock' => 10,
]);

Product::all();
Color::all();
Size::all();
ProductVariant::all();